/* 
page background color: #3a4147
content & card background color: #2d3237
*/



body{
    /* font-family: "arial", "Helvetica Neue", Arial, Helvetica, sans-serif; */
    /* background-image: url("../images/Natural-Paper-Background.jpg"); */
    /* background-color: black; */
    
    font-family: 'Oswald', sans-serif;
    background: #3a4147;
    margin: 0px;
    padding: 0px;
}
/* cap image */
    #capImg{
        border-bottom: green 3px solid;
    }
/* end cap img */

/* nabar ------------------ */
    .navbar {
        border-bottom: green 3px solid;
        background: #2d3237;
    }
    .navbar h1:hover {
        color: rgb(214, 252, 206);
        background: #3a4147;
    }
    .navbar h1 {
        font-family: 'Roboto', sans-serif;
        font-variant: small-caps;
        color: green;
    }
    .nav-item:hover {
        color: rgb(214, 252, 206);
        background: #3a4147;
    }
/* end navbar ------------------ */

/* button css --------------------- */
    .btn-success {
        background: green;
        color: black;
    }
    .btn-success:hover {
        color:rgb(5, 117, 13);
        background: rgb(0, 61, 0);
    }
/* end button css ------------- */

/* about me----------------- */
    #aboutMe {
        background-color: #2d3237;
        border: transparent 2px solid;
        border-radius: 5px;
    }
    #aboutMe p:first-of-type {
        margin-top: 10px
    }
    #scootImg{
        width: 300px;
    }
/* end about me----------------- */


/* content box--------------- */
    .contentBox{
        /* background-color: lightgray; */
        background-color: #3a4147;
        color: rgb(213, 213, 213);
    }
    .pageName{
        text-align: center;
    }
/* end content box-------------- */

/* CARD CSS ------------------*/
    .cardCol{
        background-color: green;
    }
    .card {
        background-color: green;
        position: relative;
    }
    .card-img-top {
        display: block;
        width: 100%;
        height: auto;
      }
    .card:hover {
        background-color: #394552;
    }
    .card:hover .card-body {
        opacity: 1;
      }
    .card-body {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #2d3237b5;
      }
      .cardOverlay{
        position: absolute;
        width: 80%;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        /* text-align: center; */
      }

      .gitTag{
          position: absolute;
          transform: translate(-50%, -50%);
          right: 0;
          bottom: -30%;
          color: rgb(255, 140, 0);
      }

/* END CARD CSS -------------------*/

/* footer ---------------- */
    .footer {
        border-top: green 3px solid;
        background-color: #2d3237;
    }
    .footer p{
        font-size: 8px; 
        padding-top: 5px;
        color: white;
    }

    #socialLinks a{
        font-size: 150%;
        color: rgb(255, 140, 0);
        padding: 5px 10px 0 10px;

    }
/* end footer ------------- */

/* portfolio modal --------------------*/
    .modalProject{
        cursor: pointer;
    }
    iframe{
        height: 650px;
    }

    @media only screen and (max-width: 767px) {
        #scootImg{
            width: 100%;
        }
    }
/* end portfolio modal ----------------*/