html, body {
    height: 100%;

}
body{
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto;
}
.footer{
    flex-shrink: 0;
}
body{
    font-family: "arial", "Helvetica Neue", Arial, Helvetica, sans-serif;
    background-image: url("../images/Natural-Paper-Background.jpg");
    color: black;
    margin: 0px;
    padding: 0px;

}
header {
    height: 94px;
    background-color: #ffffff;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    border-bottom: #cccccc 3px solid;
}
.header {
    height: 94px;
    width: 960px;
    background-color: #ffffff;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;

}
.SCZ {

    margin-bottom: 30px;
    float: left;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #4aaaa5;
    /* max-width: 2000px; */
    color: white;
    overflow: hidden;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    
}
a {
    color:#777777;
}
#linkAbout {
    float: right;
    margin-top: 35px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 14px;

}
#linkMid {
    float: right;
    border-left-style: solid;
    border-left-color: lightgray;
    border-left-width: 2px;
    border-right-style: solid;
    border-right-color: lightgray;
    border-right-width: 2px;
    margin-top: 35px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 14px;
}
#linkContact {
    float: right;
    margin-top: 35px;
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 14px;

}

#about_Me {
    clear: both;
    margin: 10px auto 20px auto;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    width: 960px;
    min-height: 350px;
    color: #4aaaa5;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    border-color: #dddddd;
    border-width: 1px;
    border-style: solid;
}
#bio {
    border-top-color: lightgray;
    border-top-style: solid;
    border-top-width: 2px;
    padding-top: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}
#bioImg {
    float: left;
    max-width: 200px;
    margin-right: 10px;
    margin-top: 20px;

}
img {
    max-width: 200px;
}

.footer {
    box-sizing: border-box;
    height: 50px;
    background-color: #666666;
    color: lightgrey;
    font-size: 8px;
    text-align: center;
    padding-top: 20px;
    border-top: #4aaaa5 8px solid;
    overflow: hidden;
}





/* portfolio CSS  */
#about_Portfolio {
    width: 960px;
    min-height: 300px;
    margin: 10px auto 20px auto;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    color: #4aaaa5;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    border: #dddddd 1px solid;   
    overflow: none; 
}
#portfolio {
    position: relative;
    border-top: lightgray solid 2px;
    min-height: 700px;
    padding-top: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
#hangmanBox {
    position: relative;
    float:left;
    margin: 20px 20px 10px 20px;
    width: 260px;
    height: 200px;
    /* border: black 2px solid; */
    background: #edeeef;
    overflow: hidden;
}
#hangman {
    box-sizing: border-box;
    position: absolute;
    bottom: 10px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    height: 40px;
    width: 260px;
    padding-top: 10px;
    text-height: 10px;

}
#rpgBox {
    position: relative;
    float: left;
    margin: 20px 20px 10px 20px;
    width: 260px;
    height: 200px;
    /* border: black 2px solid; */
    overflow: hidden;
    background: #edeeef;
}
#rpgImage {
    margin-left: 30px;
}
#rpgGame {
    box-sizing: border-box;
    position: absolute;
    bottom: 10px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    height: 40px;
    width: 260px;
    padding-top: 10px;
    text-height: 10px;

}
#triviaBox {
    clear: both;
    position: relative;
    float: left;
    margin: 20px 20px 10px 20px;
    width: 260px;
    height: 200px;
    /* border: black 2px solid; */
    overflow: hidden;
    background: #edeeef;
}
#triviaImage {
    margin-top: 20px;
    margin-left: 30px;
}
#triviaGame {
    box-sizing: border-box;
    position: absolute;
    bottom: 10px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    height: 40px;
    width: 260px;
    padding-top: 10px;
    text-height: 10px;

}
#widgetBox {
    position: relative;
    float: left;
    margin: 20px 20px 10px 20px;
    width: 260px;
    height: 200px;
    /* border: black 2px solid; */
    overflow: hidden;
    background: #edeeef;
}
#widgetImage {
    margin-left: 30px;
}
#widget {
    box-sizing: border-box;
    position: absolute;
    bottom: 10px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    height: 40px;
    width: 260px;
    padding-top: 10px;
    text-height: 10px;

}
#rockBox {
    clear: both;
    position: relative;
    float: left;
    margin: 20px 20px 10px 20px;
    width: 260px;
    height: 200px;
    /* border: black 2px solid; */
    overflow: hidden;
    background: #edeeef;
}
#rockImage {
    margin-top: 20px;
    margin-left: 30px;
}
#rockGame {
    box-sizing: border-box;
    position: absolute;
    bottom: 10px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    height: 40px;
    width: 260px;
    padding-top: 10px;
    text-height: 10px;

}
/* Contact Info */
#contactMe {
    clear: both;
    margin: 10px auto 20px auto;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    width: 960px;
    min-height: 300px;
    color: #4aaaa5;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    border-color: #dddddd;
    border-width: 1px;
    border-style: solid;
}
#contactInfo {
    border-top-color: lightgray;
    border-top-style: solid;
    border-top-width: 2px;
    padding-top: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    overflow: auto;
}
textarea {
    max-width: 908px;
    min-width: 908px;
}
.submit {
    background-color: #4aaaa5;
    color: white;
    width: 70px;
    padding: 6px;
    margin-bottom: 10px;
}
.tBox {
    border: 1px lightgrey solid;
}